---
import Base from '../layouts/base.astro';
import SiteHead from '../design/site-head.astro';
import Masthead from '../design/masthead.astro';
import Hero from '../design/hero.astro';
import Inspo from '../design/inspo.astro';
import LabelledIcon from '../design/labelled-icon.astro';
import Button from '../design/button.astro';
import Card from '../design/card.astro';
import Quote from '../design/quote.astro';
import Gallery from '../design/gallery.astro';
import Headline from '../design/headline.astro';
import Rolodex from '../design/rolodex.astro';
import Closer from '../design/closer.astro';
import SiteFoot from '../design/site-foot.html';

import { fromCourses, fromQuotes } from '../lib/collections.js';

import '../styles/blocks/_corner.scss';
import '../styles/blocks/_button.scss';
import '../styles/blocks/_nav.scss';
import '../styles/blocks/_site-head.scss';
import '../styles/blocks/_masthead.scss';
import '../styles/blocks/_hero.scss';
import '../styles/blocks/_inspo.scss';
import '../styles/blocks/_labelled-icon.scss';
import '../styles/blocks/_card.scss';
import '../styles/blocks/_gallery.scss';
import '../styles/blocks/_headline.scss';
import '../styles/blocks/_rolodex.scss';
import '../styles/blocks/_closer.scss';
import '../styles/blocks/_site-foot.scss';

import type { Props as GalleryProps } from '../design/gallery.astro';
import type { Props as RolodexProps } from '../design/rolodex.astro';
import type { Props as CloserProps } from '../design/closer.astro';

const title = 'Bloom';
const navigationItems = [
	{ label: 'Courses', href: '#' },
	{ label: 'About', href: '#' },
	{ label: 'Contact', href: '#' },
];
const brandName = 'Bloom Barista Academy';
const heading = 'Barista Academy';
const location = 'London, UK';
const meta = '~ Established 2019 ~';
const hero = {
	href: '#courses',
	label: 'Discover our courses',
	img: {
		src: '/src/assets/hero.jpg',
		alt: 'A female barrista with a hat and glasses smiles while making coffee',
	},
};
const inspo = {
	heading: 'Master the craft.',
	displayHeading: ['Master', 'the craft.'],
	img: {
		src: '/src/assets/inspo.jpg',
		alt: 'Overhead shot of someone pouring frothed milk into a latté cup.',
	},
};

const courses = await fromCourses();
const quotes = await fromQuotes();
const gallery: GalleryProps = {
	byline: 'the two go hand in hand',
	summary:
		'Our London HQ is home to a community of passionate coffee lovers and baristas.',
	button: {
		href: '#',
		label: 'About us',
	},
	images: [
		{
			src: '/src/assets/gallery-1.jpg',
			alt: 'An over head shot of someone handing a latte to another person',
		},
		{
			src: '/src/assets/gallery-2.jpg',
			alt: 'Three people holding their coffees up as they are about to “cheers”',
		},
		{
			src: '/src/assets/gallery-3.jpg',
			alt: 'A friendly looking Barista looking straight at the camera with a coffee shop kitchen in the background',
		},
		{
			src: '/src/assets/gallery-4.jpg',
			alt: 'Ambient shot of a coffee shop',
		},
	],
};
const rolodex: RolodexProps = {
	items: [
		{
			href: '#',
			theme: 'light',
			heading: {
				number: '07',
				text: 'A step-by-step guide to brewing with Chemex',
			},
			img: {
				src: '/src/assets/rolodex-1.jpg',
				alt: 'Ground coffee being poured into a Chemex from a height',
			},
		},
		{
			href: '#',
			theme: 'primary',
			heading: {
				number: '06',
				text: 'The science of coffee extraction',
			},
			img: {
				src: '/src/assets/rolodex-2.jpg',
				alt: 'Under-shot of an espresso machine, pouring espresso',
			},
		},
		{
			href: '#',
			theme: 'dark',
			heading: {
				number: '05',
				text: 'A guide to achieving next-level latte art',
			},
			img: {
				src: '/src/assets/rolodex-3.jpg',
				alt: 'A leaf being added to latte foam',
			},
		},
	],
};
const closer: CloserProps = {
	navLabel: 'secondary',
	navItems: [
		{ label: 'Home', href: '#', current: true },
		{ label: 'Courses', href: '#' },
		{ label: 'About', href: '#' },
		{ label: 'Contact', href: '#' },
	],
};
---

<Base title={title}>
	<div class="bg-dark-glare">
		<SiteHead items={navigationItems} brandName={brandName} />
		<div class="c-wrapper">
			<div class="u-region c-flow c-flow--space-xl">
				<Masthead heading={heading} location={location} meta={meta} />
				<Hero href={hero.href} label={hero.label} img={hero.img} />
			</div>
		</div>
	</div>
	{/* --- */}
	<Inspo
		heading={inspo.heading}
		displayHeading={inspo.displayHeading}
		img={inspo.img}
	/>
	{/* --- */}
	<div
		class="u-region u-region--space-2xl-4xl bg-dark-glare u-indent u-indent--color-primary"
		id="courses"
		tabindex="-1"
	>
		<div class="c-wrapper c-flow c-flow--space-2xl-4xl">
			<div class="c-repel items-end">
				{/* A one-off adjustment so setting the max width with a utility */}
				<p class="max-w-[25ch]">
					Our courses teach you the finest barista skills, from our London HQ.
					Learn from the best in the industry.
				</p>
				<LabelledIcon
					text="Upcoming courses"
					utilities="text-light text-step-2"
				/>
			</div>
			<div class="c-flow">
				<div class="c-grid" data-layout="thirds">
					{
						courses.map(({ data }) => (
							<Card
								href={data.href}
								heading={data.heading}
								meta={data.meta}
								buttonLabel={data.buttonLabel}
								img={data.img}
								alertText={data.alertText}
							/>
						))
					}
				</div>
				<div class="c-flow--space-xl">
					<Button href="#" label="View all courses" />
				</div>
			</div>
			<div class="c-grid" data-layout="50-50">
				{
					quotes.map(({ data }) => (
						<Quote content={data.content} quote={data.quote} cite={data.cite} />
					))
				}
			</div>
		</div>
	</div>
	{/* --- */}
	<div
		class="u-region u-region--space-2xl-4xl bg-primary text-dark u-indent u-indent--color-primary"
	>
		<div class="b-corner" data-corner-docked></div>
		<div class="c-wrapper">
			<h2 class="text-step-10 md:text-step-11 xl:text-step-12">
				Coffee & community.
			</h2>
			<div class="mt-2xl-4xl">
				<Gallery
					images={gallery.images}
					byline={gallery.byline}
					summary={gallery.summary}
					button={gallery.button}
				/>
			</div>
		</div>
	</div>
	{/* --- */}
	<div
		class="u-region u-region--space-2xl-4xl u-indent u-indent--color-dark-glare"
	>
		<div class="c-flow c-flow--space-3xl c-wrapper">
			<Headline
				heading="Tasting notes."
				text="Latest articles"
				utilities="text-light text-step-2"
			/>
			<Rolodex items={rolodex.items} />
			<Button href="#" label="More articles" />
		</div>
	</div>
	{/* --- */}
	<Closer navLabel={closer.navLabel} navItems={closer.navItems} />
	<SiteFoot />
</Base>
