---
import { Image } from 'astro:assets';
import Button from './button.astro';

import type { ImageMetadata } from 'astro';
const images = import.meta.glob<{ default: ImageMetadata }>(
	'/src/assets/*.{jpeg,jpg,png,gif}'
);

export interface Props {
	href: string;
	heading: string;
	meta: string;
	buttonLabel: string;
	img: {
		src: string;
		alt: string;
	};
	alertText?: string;
}

const { alertText, buttonLabel, heading, href, img, meta } = Astro.props;
if (!images[img.src])
	throw new Error(
		`"${img.src}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
	);
---

<article class="b-card">
	<a href={href}>
		<Image src={images[img.src]()} alt={img.alt} />
	</a>
	<div class="b-card__content c-flow">
		<h3 class="b-card__heading">{heading}</h3>
		<p class="b-card__meta">{meta}</p>
		{
			alertText && (
				<p class="b-card__alert">
					<span>{alertText}</span>
				</p>
			)
		}
		<Button label={buttonLabel} href={href} />
	</div>
</article>
